@model SistemaWebTransporte.Models.Auto
@{
    ViewBag.Title = "Crear";
}
<div id="article">
    <h2>Crear</h2>
    @using (Html.BeginForm("Crear", "Auto", FormMethod.Post))
    {
        <p>
            @Html.LabelFor(model => model.Marca)
            @Html.EditorFor(modelo => modelo.Marca)
            @Html.ValidationMessageFor(model => model.Marca)
        </p>

        <p>
            @Html.LabelFor(model => model.Modelo)
            @Html.EditorFor(modelo => modelo.Modelo)
            @Html.ValidationMessageFor(model => model.Modelo)
        </p>

        <p>
            @Html.LabelFor(model => model.Anio)
            @Html.EditorFor(modelo => modelo.Anio)
            @Html.ValidationMessageFor(model => model.Anio)
        </p>
        <p>
            @Html.LabelFor(model => model.Color)
            @Html.EditorFor(modelo => modelo.Color)
            @Html.ValidationMessageFor(model => model.Color)
        </p>
        <input type="submit" value="Crear" />

        @Html.ActionLink("Volver a index", "Index", "Auto")

    }
</div>

